@{
    ViewData["Title"] = "Информация";
}
<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Заголовок
            </div>
            <div class="panel-body">
                Контент страницы с инфой
            </div>
        </div>
    </div>
</div>

@section Footer {
    Свой подвал для страницы информации
}